.loginContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: min(420px, 95vw);
  padding: 1.3em;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loginForm h2 {
  text-align: center;
  margin-bottom: 1.5em;
  position: relative;
  font-size: 2em;
  color: #f9f9f9;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.loginForm .loginContent {
  background-color: #383838;
  padding: 2em;
  border-radius: 8px;
  color: #f9f9f9;
  box-sizing: border-box;
}
.loginForm .inputGroup {
  position: relative;
  margin-bottom: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.loginForm .inputGroup label {
  display: inline;
  position: relative;
  margin: 0.3em;
  align-self: flex-start;
}
.loginForm .inputGroup a {
  color: #f9f9f9;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-size: 0.8em;
  margin: 0.5em;
  align-self: flex-start;
}
.loginForm .inputGroup a:hover {
  color: #ff77b4;
}
.loginForm .inputGroup .loginInput {
  width: 90%;
  padding: 0.8em 1em;
  border: none;
  border-radius: 0.5em;
  background-color: #ffffff;
  color: #222;
  transition: outline 0.3s, transform 0.3s;
  background: 0.3s;
  outline: 1px solid transparent;
}
.loginForm .inputGroup .loginInput:focus {
  transform: translateY(-2px);
}
.loginForm .inputGroup .loginInput::placeholder {
  color: #b3b3b3;
}
.loginForm .inputGroup .loginInput:invalid {
  outline: 1px solid #e02b2b;
  background-color: #f7d1dc;
}
.loginForm .inputGroup .loginInput:valid {
  outline: 1px solid #38eb38;
  background-color: #f0ffee;
}
.loginForm .inputGroup.passwordGroup .passwordToggle {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  transition: color 0.3s;
}
.loginForm .inputGroup.passwordGroup .passwordToggle:hover {
  color: #ff69b4;
}
.loginForm .loginButton {
  width: 90%;
  padding: 0.8em;
  background-color: rgb(255, 68, 151.875);
  color: #f9f9f9;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.3em;
  transition: background-color 0.3s, transform 0.2s;
}
.loginForm .loginButton:hover {
  background-color: rgb(255, 17, 123.75);
  transform: translateY(-2px);
}
.loginForm .loginButton:active {
  transform: translateY(0);
}
.loginForm .divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1.5em 0;
  color: #f9f9f9;
  width: 90%;
}
.loginForm .divider::before, .loginForm .divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgba(249, 249, 249, 0.3);
}
.loginForm .divider span {
  padding: 0 10px;
  font-size: 0.9em;
}
.loginForm .socialLogin {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  width: 90%;
}
.loginForm .socialLogin button {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 0.8em;
  border: none;
  border-radius: 8px;
  color: #383838;
  font-weight: bold;
  cursor: pointer;
  font-family: "poppins";
  transition: background-color 0.3s, transform 0.2s;
}
.loginForm .socialLogin button svg {
  margin-right: 0.5em;
}
.loginForm .socialLogin button.googleButton {
  background-color: #f9f9f9;
}
.loginForm .socialLogin button.googleButton:hover {
  background-color: rgb(223.5, 223.5, 223.5);
}
.loginForm .socialLogin button.discordButton {
  background-color: #7289da;
  color: #f9f9f9;
}
.loginForm .socialLogin button.discordButton:hover {
  background-color: rgb(73.6011235955, 103.191011236, 207.3988764045);
}
.loginForm .formFooter {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  width: 80%;
  bottom: 5px;
  position: relative;
}
.loginForm .formFooter a {
  color: #f9f9f9;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.loginForm .formFooter a:hover {
  color: #ff77b4;
}

@media screen and (max-width: 480px) {
  .loginForm {
    width: 95vw;
  }
  .loginForm .socialLogin {
    flex-direction: column;
    gap: 0.5em;
  }
}

/*# sourceMappingURL=login.css.map */
