$background: var(--background-color);
$pink: var(--theme-pink);
$purple: var(--theme-pink);
$dark-gray: var(--secondary-background);
$error-red: var(--error-red);
$border-radius: 8px;
$green: var(--confirm-green);
$text-color: var(--text-color);

 body {
  overflow: hidden !important;
 }

.MainContent {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  .Header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
		padding: 0;
		margin: 0;
    font-size: 2em;
    color: $text-color !important;
    & strong{
      font-weight: 600;
      color: $pink;
    }
		a{
			width: 100%;
		}
    button {
      width: 40%;
      padding: 0.8em;
      background-color: $pink;
      color: $background;
      border: none;
      border-radius: $border-radius;
      font-weight: bold;
      cursor: pointer;
      margin-top: 0.5em;
			margin: 1em;
      transition:
        background-color 0.3s,
        transform 0.2s;
      &:hover {
        background-color: $pink;
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(0);
      }
    }
  }
}
