$background: #f9f9f9;
$pink: #ff77b4;
$purple: #9b4d97;
$dark-gray: #383838;
$error-red: #e02b2b;
$border-radius: 8px;
$green: #38eb38;

@keyframes typing {
  0% { 
    width: 0;
    border-right-color: $pink;
  }
  99% { 
    border-right-color: $pink;
  }
  100% { 
    width: 100%;
    border-right-color: transparent;
  }
}

@keyframes deleting {
  0% { 
    width: 100%;
    border-right-color: $pink;
  }
  99% { 
    border-right-color: $pink;
  }
  100% { 
    width: 0;
    border-right-color: transparent;
  }
}

@keyframes blink {
  0%, 100% { border-right-color: $pink; }
  50% { border-right-color: transparent; }
}

 body { 
  overflow: hidden;
 }

.MainContent {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  .Header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 2em;
    h1 {
      display: inline-block;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid $pink;
      width: 400px; // Add fixed width
      height: 1.2em; // Add fixed height
      
      &.typing {
        animation: 
          typing 2s steps(30, end),
          blink 1s step-end infinite;
        animation-fill-mode: forwards;
      }
      
      &.deleting {
        animation: 
          deleting 1.5s steps(30, end),
          blink 1s step-end infinite;
        animation-fill-mode: forwards;
      }
      strong {
        font-weight: 600;
        color: darken($pink,10%);
      }
    }
    a {
      width: 100%;
    }
    button {
      width: 45%;
      padding: 0.8em;
      background-color: darken($pink, 10%);
      color: $background;
      border: none;
      border-radius: $border-radius;
      font-weight: bold;
      cursor: pointer;
      margin-top: 0.5em;
      margin: 1em;
      transition:
        background-color 0.3s,
        transform 0.2s;
      &:hover {
        background-color: darken($pink, 20%);
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(0);
      }
    }
  }
}

